body {
	font-family: Arial;
    background-image: url(background.jpg);
    background-size: cover;
    color: blue;
}

.board {
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;



}

#game_canvas {
	background-color: black;
	width: 1200px;
	height: 800px;
	border: 2px blue solid;
}

.info {
	color: black;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}

